body{
    font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    background: linear-gradient(#d4a855, #ecd9b1);
    border-radius: 30px 
}
::-webkit-scrollbar-thumb{
    background-color: #e9d4aa;
    border-radius: 30px;
}
header{
    padding: 15px;
}
.cabecalho{
    position: relative;
    width: 940px;
    margin: 0 auto;
}h1{
    cursor: pointer;
}
nav{
    position: absolute;
    top: 95px;
    right: 245px;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav li a{
    padding: 3px;
}
nav a{ 
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: 1s all;
}
nav a:hover{
    color: #2c2c2c;
    text-decoration: underline;
}
nav a:active{
    color: black;
}
.principal{
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}
.Titulo-Principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    text-shadow: 1px 1px black;
}
.img{
    width: 150px;
    float: left;
    margin: 0 20px 20px 0;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px black;
}
.principal p{
    margin: 0 0 1em;
}
.arquivo li{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    text-shadow: 1px 1px black;
}
footer{
    text-align: center;
    padding: 40px 0;
}
footer img{
    cursor: pointer;
}
.copyrith{
    color: rgb(0, 0, 0);
    margin: 40px 0 0;
    font-size: 13px;
    font-weight: bold;
}